.footer-theme {
  padding: 4rem 0 1rem 0;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(0.5turn, #8b8c8c, #fefefe, #929292);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }

  p,
  span,
  a {
    color: #dadada;
  }
  a {
    &:hover {
      color: $theme-font-hover;
    }
  }

  .links {
    text-align: center;

    .link-title {
      text-align: center;
      margin-bottom: 8%;
    }

    ul {
      li {
        margin-top: 1rem;
      }
    }
  }

  .contacts {
    .cont-title {
      text-align: center;
      margin-bottom: 8%;
    }
    i {
      margin-right: 0.5rem;
    }
    ul {
      li {
        margin-top: 1rem;
      }
    }
  }

  .copyr {
    border-top: 1px solid #dadada;
    padding-top: 1.5rem;
  }
}

.bg-dark {
  background-color: #202223;
}
