header {
    .header-menu-area {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 170px;
        background-color: transparent;
        z-index: 10;

        @media (min-width: 1400px) {
            max-width: 1320px;
        }

        .logo {
            width: 25%;

            img {
                width: 100%;
            }
        }
    }

    .navbar {
        visibility: hidden;
        opacity: 0;
        transform: translateX(25%);
        transition: all .3s ease-in-out;

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            transition: all .3s ease-in-out;
        }

        // @media only screen and (max-width: 768px) {
        //     display: block;
        // }
    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }

        li {
            margin-right: 1.5rem;
            padding: 1rem 1.5rem;

            @media only screen and (max-width: 768px) {
                margin-bottom: .8rem;
            }
        }

        a {
            text-decoration: none;
            color: #e9e9e9;
            font-weight: bold;
            font-size: 1.25rem;
        }
    }

    .menu-toggle {
        cursor: pointer;
        display: block;
        padding: 10px;
        // margin-left: auto;

        span {
            background-color: #e9e9e9;
            display: block;
            height: 3px;
            width: 25px;
            margin-bottom: 5px;
            transition: all .3s ease-in-out;
            &:nth-child(1) {
            }

            &:nth-child(2) {
                visibility: visible;
                opacity: 1;
            }

            &:nth-child(3) {
            }
        }

        &.open {
            span {
                transition: all .3s ease-in-out;
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-6px, 6px);
                }

                &:nth-child(2) {
                    visibility: hidden;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-5px, -5px);
                }
            }
        }
    }

}

.padding-banner {
    padding-top: 136px;

    @media (max-width: 991px) {
        padding-top: 106px;
    }
}