.about-area {
    span {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.875rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        @media (max-width: 576px) {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.75rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        @media (max-width: 576px) {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: justify;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 450px;
        max-height: 450px;
        border-radius: 10px;
    }
}

.project-area {
    // span {
    //     font-size: 1.5rem;
    //     font-weight: 900;
    //     line-height: 1.875rem;
    //     margin-bottom: 1rem;

    //     @media (max-width: 768px) {
    //         font-size: 1.25rem;
    //         line-height: 1.5rem;
    //     }

    //     @media (max-width: 576px) {
    //         font-size: 1.125rem;
    //         line-height: 1.25rem;
    //     }
    // }

    h2 {
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.75rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        @media (max-width: 576px) {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: justify;
    }

    img {
        position: relative;
        display: block;
        height: 360px;
        border-radius: 20px;
        margin: 0 auto;
        z-index: 1;
    }

    ul {
        li {
            width: 85%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: #bfbfbf;
            margin-bottom: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            // border-bottom: 1px solid #bfbfbf;
            border-bottom-left-radius: 15px;
            transition: 0.3s ease;
            span {
                font-size: 1rem;
                color: inherit;
                letter-spacing: initial;
            }
            &.current {
                color: #252525;
                // border-color: #252525;
                transition: 0.3s ease;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    .view-effect {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 400px;

        &::before {
            content: "";
            display: block;
            width: auto;
            height: 100%;
            aspect-ratio: 1/1;
            position: absolute;
            top: 50%;
            left: 0;
            opacity: 0.75;
            transform: translate(-20%, -50%);
            border-radius: 50%;
            background-color: $theme-color6;
            box-shadow:
                7.5rem 0 0 0 $theme-color5,
                14rem 0 0 0 $theme-color7;
            z-index: 0;
        }
    }
}

.creation-card {
    color: #252525;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    position: relative;
    top: 0px;
    // aspect-ratio: 1 / 1;
    // overflow: hidden;
    border: 1px solid transparent;
    border-radius: 25px;
    border-color: rgb(191 191 191);

    box-shadow:
        inset 0px 0px 12px rgba(191, 191, 191, 0.8),
        inset 0px 0px 19px rgba(191, 191, 191, 0.35);
    transition: all 0.2s ease;
    z-index: 2;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 25px;
        opacity: 0.85;
        box-shadow:
            -2px -2px 0 0 $theme-color5,
            2px -1px 0 0 $theme-color7,
            0px 2px 0 0 $theme-color6;
        z-index: 1;
        transition: all 0.3s ease;
    }

    &::after {
        content: "";
        background-color: transparent;
        background-image: url(../img/logo/card-logo-c.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.4);
        transition: all 0.5s ease;
        z-index: 3;
    }

    .card-img {
        min-width: 40%;
        height: 250px;
        @media (min-width: 768px) {
            margin-right: .8rem;
        }
        img {
            height: 100%;
            width: 100%;
            margin: unset;
            
        }
    }
    .card-content {
        position: relative;
        text-align: start;
        top: 0;
        transition: all 0.3s ease;

        h2 {
            color: currentcolor;
            font-size: 2rem;
            margin-bottom: 0.8rem;
        }

        p {
            color: currentcolor;
            font-size: 1.125rem;
        }
    }

    &:hover {
        top: -3px;
        border-color: #bfbfbf;
        transition: all 0.3s ease;

        &:before {
            box-shadow:
                -12px -12px 0 0 $theme-color5,
                12px -6px 0 0 $theme-color7,
                0 12px 0 0 $theme-color6;
            transition: all 0.5s ease;
        }

        &::after {
            visibility: visible;
            opacity: 0.75;
            transform: scale(1);
            transition: all 0.5s ease;
        }

        .card-content {
            position: relative;
            // top: -5px;
            transition: all 0.3s ease;
        }
    }
}

.word-speed {
    transform: translateY(0);
    transition: all 0.3s ease-out;

    &.translateStage1 {
        transform: translateY(0);
        opacity: 1;
        transition: all 0.2s ease-out;

        &.translateStage2 {
            transform: translateY(-300px);
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }
}

.element-center {
    display: flex;
    justify-content: center;
    align-items: start;
    &.colunm {
        flex-direction: column;
    }
}

.btn {
    display: block;
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    background-color: #f0a429;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(#f0a429, 0.5);
    &:hover {
        -webkit-animation: pulse 1.5s infinite;
    }
}

.mvv {
    .card-container {
        padding: 0.8rem;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin: 3rem 0;
            padding: 0 2.25rem;
            position: relative;
            z-index: 2;

            .title {
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 1rem;
            }

            .content {
                font-size: 1rem;
            }

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                box-shadow:
                    inset 0 0 10px rgba(0, 0, 0, 0.45),
                    -10px -6px 0 0 $theme-color5,
                    10px -5px 0 0 $theme-color7,
                    0 10px 0 0 $theme-color6;
                transform: rotate(0);
                transition: 1s ease;
            }
            &:hover {
                cursor: pointer;
                &::before {
                    box-shadow:
                        inset 0 0 10px rgba(0, 0, 0, 0.45),
                        -25px -20px 0 0 $theme-color5,
                        25px -20px 0 0 $theme-color7,
                        0 25px 0 0 $theme-color6;
                    transform: rotate(360deg);
                    transition: 1s ease;
                }
            }
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        // @include transform(scale(0.9));
    }
    70% {
        // @include transform(scale(1));
        box-shadow: 0 0 0 50px rgba(#f0a429, 0);
    }
    100% {
        // @include transform(scale(0.9));
        box-shadow: 0 0 0 0 rgba(#f0a429, 0);
    }
}

#back-top {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: 2px solid $theme-color;
    border-radius: 50%;
    opacity: 0.5;
    background: transparent;
    transition: 0.3s ease;
    .injected-svg {
        display: flex;
        width: 100%;
        path {
            fill: $theme-color;
            transition: 0.3s ease;
        }
    }
    &.show {
        display: flex !important;
    }

    &:hover {
        opacity: 1;
        background-color: $theme-color;
        transition: 0.3s ease;
        .injected-svg {
            path {
                fill: #fff;
                transition: 0.3s ease;
            }
        }
    }
}

.ovfx-hidden {
    overflow-x: hidden;
}

.swiper-marquee {
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
        position: relative;
        .swiper-slide {
            width: auto;
            text-align: center;
            font-size: 2rem;
            font-weight: lighter;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            padding: 20px 50px;
            color: #000;
            // text-shadow: 2px 0 $theme-shadow, -2px 0 $theme-shadow, 0 2px $theme-shadow, 0 -2px $theme-shadow,
            //    1px 1px $theme-shadow, -1px -1px $theme-shadow, 1px -1px $theme-shadow, -1px 1px $theme-shadow;
        }
    }
}
