.banner-area {
    position: relative;
    z-index: 1;

    .content {
        position: absolute;
        z-index: 5 !important;
        top: 0;
        padding-left: 10vw;
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1,
        span {
            color: #fff;
            font-size: 4rem;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 75px;
            margin-bottom: 40px;
            text-align: initial;

            b {
                font-size: 3.3rem;
                font-weight: 600;
            }

            @media #{$md} {
                font-size: 3.5rem;
                line-height: 60px;

                b {
                    font-size: 3.1rem;
                }
            }

            @media #{$sm} {
                font-size: 3rem;
                line-height: 60px;

                b {
                    font-size: 2.6rem;
                }
            }

            @media #{$xs} {
                font-size: 2.8rem;
                margin-bottom: 15px;
                line-height: 60px;

                b {
                    font-size: 2.4rem;
                }
            }
        }

        p {
            margin-bottom: 65px;
            color: #fff;
            font-size: 17px;
            width: 70%;
            text-align: justify;

            @media #{$xs} {
                margin-bottom: 35px;
                width: 100%;
                text-align: initial;
            }
        }

        a {
            background: #fff;
            padding: 15px 35px;
            color: $theme-color;
            font-size: 1em;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            letter-spacing: .1rem;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: .4s ease;
            width: 200px;

            &:hover {
                background: $theme-color;
                color: #fff;
            }
        }
    }

}

.about-area {
    span {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.875rem;
        margin-bottom: 1rem;
        @media(max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
        @media(max-width: 576px) {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.75rem;
        margin-bottom: 1rem;
        @media(max-width: 768px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media(max-width: 576px) {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: justify;
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 450px;
        max-height: 450px;
    }
}

.project-area {
    span {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.875rem;
        margin-bottom: 1rem;
        @media(max-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
        @media(max-width: 576px) {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.75rem;
        margin-bottom: 1rem;
        @media(max-width: 768px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media(max-width: 576px) {
            font-size: 2rem;
            line-height: 2.25rem;
        }
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: justify;
    }
    img {
        position: relative;
        display: block;
        height: 360px;
        border-radius: 20px;
        margin: 0 auto;
        z-index: 1;
    
    }
    ul {
        li {
            margin-left: 15px;
            list-style: circle;
        }
    }
    .view-effect{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 400px;
        &::before {
            content: "";
            display: block;
            width: auto;
            height: 100%;
            aspect-ratio: 1/1;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-20%,-50%);
            border-radius: 50%;
            background-color: #f0a429;
            z-index: 0;
        }
    }
}

.creation-card {
    color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    position: relative;
    aspect-ratio: 1 / 1;

    &:before {
        content: '';
        background-image: url(../img/logo/card-logo-g50.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .25;
        border-radius: 35%;
        transition: all .35s ease;
    }

    .card-content {
        position: relative;
        top: 0;
        transition: all .3s ease;

        h2 {
            color: currentcolor;
            font-size: 2rem;
            margin-bottom: .8rem;
        }

        p {
            color: currentcolor;
            font-size: 1.125rem;
        }
    }

    &:hover {
        &:before {
            background-image: url(../img/logo/card-logo-c.png);
            background-color: #fff;
            opacity: .65;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, .15);
            transition: all .35s ease;
        }

        .card-content {
            position: relative;
            top: -5px;
            transition: all .3s ease;
        }
    }
}

.word-speed {
    transform: translateY(0);
    transition: all .3s ease-out;

    &.translateStage1 {
        transform: translateY(-50px);
        transition: all .3s ease-out;
    }

    &.translateStage2 {
        transform: translateY(-100px);
        transition: all .3s ease-out;
    }
}