//------------------------------------------------------responsivo--------------------------------------
$xxl: '(min-width:1400px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';

//-----------------------------------------------------color---------------------------------------------

$theme-color: #117ee3;
$theme-color2: #f0a32a;
$theme-color3: #d02322;
$theme-color4: #d0d0d0;

$theme-color5: #117ee3;
$theme-color6: #f0a32a;
$theme-color7: #c52020;
$theme-color8: #691111;

$theme-font-hover: #117ee3;
$theme-shadow: rgba(0, 0, 0, 0.45);

$bgd-body: rgb(241 245 249);

//-----------------------------------------------------font-family-----------------------------------------
$font_1 :'Montserrat', sans-serif;
$font_2 :'Montserrat', sans-serif;

//-----------------------------------------------------usable-----------------------------------------------
