//imports
@import 'variables';
@import 'header';
@import 'footer';
@import 'sections';
@import 'whats';
@import 'hero';
@import 'forms';
@import 'cta';
@import 'privacidade';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: $font_1;
}

body {
	background-color: $bgd-body;
	position: relative;
}

li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
	transition: .4s ease;
}

p {
	color: #171717;
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 22px;
}

img {
	width: 100%;
	height: auto;
}

section {
	overflow-x: hidden;
}

.section-padding {
	padding-top: 5rem;
	padding-bottom: 5rem;
	h2, h3, h4, p, span {
		display: block;
		margin-bottom: 1.25rem;
	}
	p {
		line-height: 1.5rem;
	}
}



.go-to-top {
	background: $theme-color3;
	height: 55px;
	width: 55px;
	right: 15px;
	bottom: 10px;
	position: fixed;
	z-index: 10;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid transparent;
	box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
	color: #1f1f1f;
	text-decoration: none;
	transition: all .4s;
	display: none;
	cursor: pointer;

	i {
		display: block;
		line-height: 52px;
		color: #fff;
	}

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: $theme-color #ffffff;


}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 11px;
}



*::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: $theme-color;
	border-radius: 10px;
	border: 3px solid #ffffff;

	&:hover {
		background-color: $theme-color2;
	}

}

.h-100 {
	height: 100% !important;
}

.white-bgd {
	background-color: #fff !important;
}

.light-bgd {
	background-color: #f0f0f0 !important;
}

.medium-bgd {
	background-color: gray;
}

.heavy-bgd {
	background-color: gray;
}

.text-center {
	text-align: center !important;
}

@mixin random-spot($base-color, $position) {
	$size: random(10) + 40 * 10px; // Tamanho entre 400px e 500px
	$x: if($position == 'left', 7%, 65%); // Posição no eixo x intercalada entre 15% e 85%
	$y: 50%;
	$color: darken($base-color, 7%); // Cor base

	// Criar o círculo
	&::before {
		content: "";
		position: absolute;
		width: $size;
		height: $size;
		background: radial-gradient(ellipse at center, rgba($color, 1) 0%, rgba($color, 0) 70%); // Degrade esfumaçado
		border-radius: 50%;
		top: $y;
		left: $x;
		z-index: -1; // Ajustar z-index para garantir que todos os círculos sejam visíveis
	}
}

.spots-l {
	position: relative;
	@include random-spot($bgd-body, 'left');
}

.spots-r {
	position: relative;
	@include random-spot($bgd-body, 'right');
}

