//imports
@import 'variables';
@import 'header';
@import 'footer';
@import 'sections';
@import 'whats';
@import 'hero';
@import 'forms';
@import 'cta';
@import 'privacidade';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: $font_1;
}

body {
	background-color: #fafafa;
	position: relative;
}

li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
	transition: .4s ease;
}

p {
	color: #171717;
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 22px;
}

img{
	width: 100%;
	height: auto;
}

section {
	overflow-x: hidden;
}

.section-padding {
	padding: 8rem 0;
}

.section-title {
	h1, h2 {
		font-size: 2.3em;
		font-weight: 700;
	}

	span {
		text-transform: uppercase;
		font-size: .9em;
		display: block;
	}
}

.divider {
	background: $theme-color;
	-webkit-mask-image: url(../img/logo/divider.svg);
	-webkit-mask-position: center center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	width: 55px;
	height: 25px;
}

.btn {
	background: $theme-color2;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	padding: 13px 20px;
	text-transform: uppercase;
	font-family: $font_1;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	border-radius: 5px;
	-moz-user-select: none;
	font-weight: 400;
	letter-spacing: 1px;
	cursor: pointer;
	transition: color 0.4s linear;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&::after {
		position: absolute;
		content: "";
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;
		background-color: $theme-color;
		border-radius: 5px;
		box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
			7px 7px 20px 0px rgba(0, 0, 0, .1),
			4px 4px 5px 0px rgba(0, 0, 0, .1);
		transition: all 0.3s ease;
	}

	&:hover {
		color: #fff;
	}

	&:hover:after {
		left: 0;
		width: 100%;
	}

	&:active {
		top: 2px;
	}
}

.btn-arrow {
	position: relative;
	text-transform: uppercase;
	font-size: .75rem;
	letter-spacing: .1rem;
	font-weight: 800;
	transition: .3s all ease;
	color: $theme_color3;
	display: inline-block;

	&:after {
		transition: .3s all ease;
		position: absolute;
		content: "\279C";
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		padding-right: 30px;
		color: $theme-color2;

		&:after {
			opacity: 1;
			visibility: visible;

		}
	}
}

.whats-form {
	background: #22BA59;
	margin-left: 20px;

	&::after {
		background-color: #01a43d;
	}
}

.go-top-btn {
	background: $theme-color3;
	height: 55px;
	width: 55px;
	right: 15px;
	bottom: 10px;
	position: fixed;
	z-index: 10;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid transparent;
	box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
	color: #1f1f1f;
	text-decoration: none;
	transition: all .4s;
	display: none;
	cursor: pointer;

	i {
		display: block;
		line-height: 52px;
		color: #fff;
	}

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: $theme-color #ffffff;


}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 11px;
}



*::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: $theme-color;
	border-radius: 10px;
	border: 3px solid #ffffff;

	&:hover {
		background-color: $theme-color2;
	}

}